.checked{
    color: #FF5D19;
}

.rating-center{
    display: flex;
    justify-content: center;
}

.rating-logo-size{
    width: 140px;
    height: 100px;
}

.rating-container{
    display: flex;
    flex-direction: column;
    width: 580px;
}

.logo-rating{
    text-align: center;
}

.form-rating-display{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.font-style-title-rating{
    color: #FF5D19;
    font-weight: 700;
    font-size: 28px;
    margin-top: 30px;
}

.font-style-subtitle-rating{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: center;
    color: #29647C;
}