.example-wrapper { 
    margin: 1em auto; 
    max-width: 800px; 
    width: 95%; 
    font: 18px/1.5 sans-serif; 
}
.example-wrapper code { 
    background: #F5F5F5; 
    padding: 2px 6px; 
}
.btn-wrapper{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
body {
    background-color: #ECECEC; 
}
.card-container{ 
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    }
.align-text{
    text-align: center;
}
.title-orange{
    color: #FF5D19;
}