body{
    background:#ECECEC;
}
.box-stat{
    width: 600px;
    height: auto;
    border-radius: 15px 15px 15px 0px;
    background-color: white;
}
.box-game{
    width: 600px;
    height: 200px;
    border-radius: 15px;
}
.blue-box{
    width: 1296px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    backdrop-filter: blur(1.3px);
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
}
.top-margin{
    margin-top: 80px;
}
.img-big-left{
    display: flex;
    height: -webkit-fill-available;
    align-items: center;
    margin-left: 25px;
}
.info-game-content{
    width: 900px;
    display: flex;
    align-items: center;
}
.date-release{
    display: flex;
    align-items: center;
}
.font-style-game{
    color: white; 
}
.title-orange{
    color:#FF5D19; 
    font-weight: 700;
}
shadow-text{
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em;
}
.cover-game{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    background-position: 50% 36%;
}

.user-stat-container{
    display: flex;
    justify-content: space-around;
    padding: 1rem 0rem;
}

.user-stat{
    text-align: center;
    color: hsla(197, 50%, 32%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-stat-title{
    font-size: 1rem;
}

.user-stat-content{
    font-size: 4rem;
    font-weight: bolder;
}

.vertical-line{
    border-left: 2px solid #000;
    display: inline-block;
    height: 130px;
    margin: 0 20px;
}