body {background-color: #ECECEC; }

    .left-container{
        border-radius: 5px;
        background-color: white;
        height: 830px;
    }
    .swap-number{
        border-radius: 5px;
    }
    .right-container{
        margin-left: 3%;
        display: flex;
        flex-direction: column;
        width: 85%;
    }
    .games-owned-list{
        width: -webkit-fill-available;
        border-radius: 5px;
        background-color: white;
        height: 400px;
        display: flex;
        flex-wrap: wrap;
    }
    .games-wish-list{
        width: -webkit-fill-available;
        border-radius: 5px;
        background-color: white;
        height: 400px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .font-style{
        font-size: 24px;
        margin-left: 25px;
        font-weight: bold;
    }
    .text-wrap{
        width: 66%;
        margin-top: 7%;
    }
    .vector-wrap{
        width: 30%;
        margin-top: 3%;
        text-align: center;
    }

    .element-list-wish{
        height: 240px;
        width: 180px;
        border-radius: 5px;
        background-color: rgba(212, 224, 229, 0.6);
        display: flex;
        font-size: 20px;
        font-weight: 600;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #29647C;
    }
    .element-list-owned{
        height: 240px;
        width: 180px;
        border-radius: 5px;
        background-color: rgba(212, 224, 229, 0.6);
        display: flex;
        font-size: 20px;
        font-weight: 600;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #29647C;
    }
    .element-list-owned:hover{
        border: 5px solid #29647C;
        color: #29647C;
        transition: border 0.15s ease-in;
    }
    .element-list-wish:hover{
        border: 5px solid #FF5D19;
        color: #FF5D19;
        transition: border 0.05s ease-in;
}
    .title-game-wrapper{
        width: 375px;
        display: flex;
        height: fit-content;
    }
    .pic-wrapper{ 
        margin-top: 25px;
        width: -webkit-fill-available;
        height: fit-content;
        display: flex;
        justify-content: center;
    }
    .swap-text{
        font-weight: 600;
        font-size: 45px;
        color: #FF5D19;
    }
    .swap-number{
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 280px;
    }
    .profile-text{
        font-weight: bold;
        font-size: 24px;
        color: #29647C;
    }
    .localisation-text{
        color: #FF5D19;
        font-size: 14px;
    }
    .add-own{
        text-decoration: none;
    }
    .add-own-img{
        border: 2px solid #29647C;
        border-radius: 5px;
        padding: 1px;
    }
    .add-own-img:hover{
        border: 3px solid #29647C;
        transition: border 0.05s ease-in;
    }
    .add-wish-img{
        border: 2px solid #FF5D19;
        border-radius: 5px;
        padding: 1px;
    }
    .add-wish-img:hover{
        border: 3px solid #FF5D19;
        transition: border 0.05s ease-in;
    }

    .scroll-hidden{
        overflow: scroll; 
        overflow-y: hidden; 
    }

    #style-1::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    #style-1::-webkit-scrollbar
    {
        width: 12px;
        background-color: #F5F5F5;
    }

    #style-1::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #FF5D19   ;
    }

    .box-waitingExchange{
        background-color: white;
        height: fit-content;
        display: flex;
        border-radius: 10px;
        flex-wrap: wrap;
        width: 535px;
        margin-top: 20px;
    }

    .waiting-exchange-container{
        display: flex;
        width: -webkit-fill-available;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card-waiting-exchange{
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        border-radius: 10px;
        width: 172px;
    }

    .button-denied-exchange{
        display: flex;
        align-items: flex-end;
        margin-left: 15px;
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .padding-exchange{
        padding: 20px;
    }

    .button-container-exchange{
        width: -webkit-fill-available;
        display: flex;
        justify-content: center;
    }