<form method="post" action="{{ path('exchange_delete', {'id': exchange.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet échange ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ exchange.id) }}">
    <button class="btn btn-danger">Supprimer cet  échange</button>
</form>
