{% extends 'base_dashboard.html.twig' %}


{% block body %}

<h1>Liste des échanges</h1>
<div class="container bg-white mt-4">
    
    {% if exchanges %}
    <table class="table table-striped table-advance table-hover ">
  <thead>
    <tr>
      <th scope="col "><i class="far fa-address-card"></i> Id de l'échange</th>
      <th scope="col"><i class="far fa-address-card"></i> Id du propriétaire</th>
      <th scope="col"><i class="far fa-address-card"></i> id du proposant </th>
      <th scope="col"><i class="far fa-address-card"></i> Id du jeu</th>
       <th scope="col"><i class="far fa-address-card"></i> Id du jeu du propriétaire </th>
        <th scope="col">Statut</th>
         <th scope="col">Action</th>
    </tr>
  </thead>
  {% endif %}

  <tbody>
      {% for exchange in exchanges%}
        <tr>
          <td>{{exchange.id}}</td>
    
          <td>{{exchange.UserOwner.id}}</td>  
           <td>{{exchange.userProposer.id }}</td> 
           <td>{{exchange.game.id }}</td> 
           <td>{{exchange.ownerGame.id}}</td> 
          {% if exchange.confirmed == true %} 
              <td class="table-success"> Confirmé </td>
          {% else %}
              <td class="table-warning"> Non confirmé</td> 
          {% endif %}  
        
          <td>
          {# <a href="{{ path('comment_show', {'id': exchange.id}) }}">show</a> #}
            <a class="btn btn-primary" href="{{ path('exchange_show', {'id': exchange.id}) }}"><i
                    class="fas fa-eye"></i></a>
          </td>
        </tr>
        {% else %}
          <tr>
                     <td colspan="8">Aucun échanges trouvé</td>
              </tr>
   {% endfor %} 

  </tbody>
 
</table>

{% endblock %}
