{% extends 'base_front.html.twig' %}

{% block body %}

	<style>
		* {
			padding: 0;
			margin: 0;
			box-sizing: border-box;
		}

		html,
		body {
			height: 100vh;
		}

		body {
			background: url('https://i.ibb.co/NVTYWhM/Purple-background.png') no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}

		.row {
			background: #fff;
		}

		.controller {
			background-image: url('https://i.ibb.co/pRkwj8c/Hand-controller.jpg');
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>

	<section class="Form p-5 d-flex justify-content-center">
		<div class="container" style="margin-top: 30px;">
			<div class="row g-0" style="height: 500px;">
				<div class="controller col-lg-6"></div>

				<div class="col-lg p-4" style="align-self: center;">
					<title>Connexion</title>
					<h1 class="p-4 d-flex justify-content-center" style="color: #29647C;">Se connecter</h1>
					<form action="{{ path('login') }}" method="post" class="p-2">
						<div class="form-row d-flex justify-content-center">
							<div class="col-lg-7">
								<input placeholder="Adresse mail" required name="_username" type="text" id="email" class="l-bar">
								<input placeholder="mot de passe" required name="_password" type="password" id="password" class="l-bar">
								<a class="d-flex justify-content-center" href="{{path("app_forgot_password_request")}}" style="font-size: 12px; color: #EB6940; text-decoration: none;">Mot de passe oublié</a>
							</div>
						</div>

						<div class="p-4 form-row d-flex justify-content-center">
							<button type="submit" class="btn btn-log">Connexion</button>
						</div>
						<p class="d-flex justify-content-center" style="font-size: 12px; color: #EB6940;">Pas encore de compte ? <a class="d-flex justify-content-center" href="{{path("registration")}}" style="margin-left: 10px; font-size: 12px; color: #29647C; text-decoration: none;"> Inscription</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>{% endblock %}
