{% extends 'base_front.html.twig' %}

{% block body %}
	<style>
		* {
			padding: 0;
			margin: 0;
			box-sizing: border-box;
		}

		html,
		body {
			height: 100vh;
		}

		body {
			background: url('https://i.ibb.co/NVTYWhM/Purple-background.png') no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}

		.row {
			background: #fff;
		}

		.controller {
			background-image: url('https://i.ibb.co/pRkwj8c/Hand-controller.jpg');
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>

	<section class="Form p-4 d-flex justify-content-center">
		<div class="container" style="margin-top: 35px;">
			<div class="row g-0" style="height: 500px;">
				<div class="controller col-lg-6"></div>

				<div class="col-lg" style="align-self: center;">
					<title>S'inscrire</title>
					<h1 class="p-4 d-flex justify-content-center" style="color: #29647C;">S'inscrire</h1>
					<div class="p-2">
						<div class="form-row d-flex justify-content-center">
							<div class="col-lg-7">
								{{ form_start(form) }}

								{{ form_widget(form) }}
								<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="border: solid 1px #EB6940">
								<label class="form-check-label" style="color: #EB6940; font-size: 12px;" for="flexCheckDefault">
									J’accepte les CGU
								</label>
							</div>
						</div>

						<div class="p-4 form-row d-flex justify-content-center">
							<div class="col-lg-7 d-flex justify-content-center">
								<button type="submit" class="btn btn-success pl-5" style="background-color: #EB6940; border-radius: 30px; padding: 5px 90px; border: none;">Valider</button>
								{{ form_end(form) }}
							</div>
						</div>
						<p class="d-flex justify-content-center" style="font-size: 12px; color: #EB6940;">Déjà un compte ? <a class="d-flex justify-content-center" href="{{path("login")}}" style="margin-left: 10px; font-size: 12px; color: #29647C; text-decoration: none;"> Connexion</a>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
