{% extends 'base_dashboard.html.twig' %}



{% block body %}
    <h1> Liste des commentaires</h1>

    <div class="container bg-white mt-5">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contenu</th>
                <th>Date de création</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-danger" href="{{ path('comment_show', {'id': comment.id}) }}"><i class="fas fa-times-circle"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun commentaire trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
