<!DOCTYPE HTML>
<html>
	<head>
		<title>Swapit | Dashboard</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		{% block stylesheets %}
    <link rel="stylesheet" href='{{asset('build/app.css')}}' />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    {# a remplacer #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% endblock %}
    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	
	</head>
	<body class="is-preload">
		<a class="navbar-brand" href="{{path('admin')}}">
			<img src="{{ asset('build/logo.png') }}" width="70" height="50" />
		</a>
		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="{{ path('user') }}"">Utilisateurs</a></li>
							<li><a href="{{ path('exchange') }}">Échanges</a></li>
							<li><a href="{{ path('comment_index') }}">Commentaires</a></li>
							<li><a class="nav-link" href="{{path("logout")}}">Déconnexion</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Bienvenue sur votre dashboard {{(app.username)}  <img style="width:25px; height:25px"
								src="https://i.ibb.co/pvxsxkc/user.png"></img>}</h1
						</div>
						<div class="container">
							{% block body %}{% endblock %}
						</div>
					</section>
					≤/div>
	</body>
</html>