{% extends 'base_front.html.twig' %}

{% block body %}

<title>Requête de Swap envoyée !</title>

<div class="container" style="display: flex; margin-top: 55px; flex-wrap: wrap; justify-content: center;">
<div class="logo-rating">
    <img class="rating-logo-size" src="{{ asset('build/logo.png') }}"/>
</div>
<div class="text-wrap-title rating-center">
    <p class="font-style-title-rating">Votre demande de swap a bien été envoyée</p>
</div>
<div class="text-wrap-title rating-center">
    <p class="font-style-subtitle-rating">Quelle note attribuez-vous à {{ owner.getUsername|capitalize }} ?</p>
</div>

<div class="rating-container">
    
    <div class="form-rating-display">
        <form method="GET" action="{{ path('rate_user', {'owner': owner.getId} ) }}">
            <div>
                <input name="rating" type="radio" style="-webkit-appearance: none;" class="fas fa-star fa-2x" data-star="1" value="1"></input>
                <input name="rating" type="radio" style="-webkit-appearance: none;" class="fas fa-star fa-2x" data-star="2" value="2"></input>
                <input name="rating" type="radio" style="-webkit-appearance: none;" class="fas fa-star fa-2x" data-star="3" value="3"></input>
                <input name="rating" type="radio" style="-webkit-appearance: none;" class="fas fa-star fa-2x" data-star="4" value="4"></input>
                <input name="rating" type="radio" style="-webkit-appearance: none;" class="fas fa-star fa-2x" data-star="5" value="5"></input>
            </div>
            </br>
            <div class="form-group" style="display: flex; justify-content: center; margin-top: 20px;">
                <button class="btn btn-outline-success" type="submit">Soumettre</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
