{% extends 'base_front.html.twig' %}

{% block body %}

<style>
    
</style>

<title>Proposer un swap</title>

<div style="display: flex; margin-top: 25px; flex-wrap: wrap; justify-content: center;">
    <div class="text-wrap-title" style="display: flex; flex-wrap: wrap; justify-content: center;">
        <p class="font-style-title">Proposer un Swap à {{ owner.getUsername|capitalize }}</p>
    </div>

    <div class="row justify-content-around" style="display: flex; flex-wrap: wrap;">
        <div class="col-xl-5 p-3 m-3 swap-game-box">
            <div class="wrapper-header">
                <div class="text-wrap">
                    <p class="font-style">Jeu à Swapper</p>
                </div>
                <div class="vector-wrap">
                    <img style="width: 60px;" src="https://i.ibb.co/QPnXBTj/check.png"></img>
                </div>
            </div>

            <div class="mt-4 mb-4 pt-3 pb-3">
            <style>
                .cover-game3 {
                    position:relative;
                }

                .cover-game3::before {
                background-color: rgba(255,255,255,0.25);
                background-image: url(https://images.igdb.com/igdb/image/upload/t_1080p/{{igdb.getGameCovers(userOwnerGame.getId)}}.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 50% 36%;
                content:"";
                opacity: 0.15;
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                border-radius: 15px;
            </style>
                <div class="cover-game3 row pt-2 pb-2">
                    <div class="col-3">
                        <img src="https://images.igdb.com/igdb/image/upload/t_1080p/{{igdb.getGameCovers(userOwnerGame.getId) }}.jpg" style="width:100px; border-radius: 10px;">
                    </div>

                    <div class="col d-flex align-items-center">
                        <h2 class="shadow-text">{{ userOwnerGame.getName }}</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-5 p-3 m-3 swap-game-box scroll-hidden-swap-game" id="style-1"> 
            <div class="wrapper-header">
                <div class="text-wrap">
                    <p class="font-style">Les jeux que {{ owner.getUsername|capitalize }} souhaites</p>
                </div>
                <div class="vector-wrap">
                    <img style="width: 60px;" src="https://i.ibb.co/Zxv6Jhd/favorite.png"></img>
                </div>
            </div>

            {% for matchingGame in matchingGames %} 
            <style>
                h2 {
                    font-style: normal;
                    font-weight: bold;
                    color: #FF5D19;
                    position: relative;
                }

                .cover-game2 {
                    position:relative;
                }

                .cover-game2::before {
                background-color: rgba(255,255,255,0.25);
                background-image: url(https://images.igdb.com/igdb/image/upload/t_1080p/{{igdb.getGameCovers(matchingGame.getId)}}.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 50% 36%;
                content:"";
                opacity: 0.15;
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                border-radius: 15px;
            }
            </style>
                <div class=" mb-4 pt-3 pb-3">
                    <div class="cover-game2 row pt-2 pb-2">
                        <div class="col-3">
                            <img src="https://images.igdb.com/igdb/image/upload/t_1080p/{{igdb.getGameCovers(matchingGame.getId) }}.jpg" style="width:100px; border-radius: 10px;">
                        </div>

                        <div class="col d-flex align-items-center">
                            <h2 class="shadow-text">{{ matchingGame.getName }}</h2>
                        </div>
                    </div>
                
                    <div class="btn-wrapper-swap">
                        <a style="" href="{{ path('swap_recap', {'user': owner.getId, 'selected_game': matchingGame.getId, 'game': userOwnerGame.getId, 'owner': owner.getId}) }}" class="btn btn-swap">Séléctionner</a>
                    </div>
                </div>
            {% endfor %}

            
            {% for unmatchingGame in unmatchingGames %}
            <div class="list-elements-container">
                <div class="element-list owned-color d-flex justify-content-center align-items-center">
                    <h4 class="shadow-text">{{ unmatchingGame.getName }}</h4>
                </div>
                <div class="btn-wrapper-swap">
                    <a style="" href="{{ path('quickaddowngame', {'game': unmatchingGame.getId}) }}" class="btn btn-message">Je possède</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
