{% extends 'base_front.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}
    <div class="container">
        <a class="nav-link active icon-nav" aria-current="page" href="{{path('channel')}}"><img src="{{ asset('build/go-back-arrow.svg') }}" width="25" height="auto"/></a>
        <h1>{{ channel.name }}</h1>
        <div class="container" style="height: 700px">
            <div id='chat' class="container bg-light h-75 overflow-auto" style="padding: 30px 50px;">
                {% for message in messages %}
                    {% if app.user == message.author %}
                        <div class="row w-75" style="float: left">
                            <b>{{ message.author.username }}</b>
                            <p class="alert alert-info w-100">
                                {{ message.content }}
                            </p>
                        </div>
                    {% else %}
                        <div class="row w-75" style="float: right">
                            <b>{{ message.author.username }}</b>
                            <p class="alert alert-success w-100">
                                {{ message.content }}
                            </p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div>
                <form id="form" class="container row">               
                    <input id="message" class="input-group-text col-sm-9 m-bar" type="text" placeholder="Tapez ici...">      
                    <button id="submit" type="submit" class="btn btn-send col-sm-3">Envoyer</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="application/javascript">
        document.addEventListener("DOMContentLoaded", function(event) {
            
            const link = "{{path('getMmessages',{channel: channel.id})}}"

            const url = new URL(link,'http://swapit-esgi.herokuapp.com/');
        
            const eventSource = new EventSource(url); // On s'abonne au Hub
            const appUser = {{ app.user.id }};
            
            eventSource.onmessage = ({data}) => { // On écoute les événements publiés par le Hub
            
                    const message = JSON.parse(JSON.parse(JSON.parse(data))); // Le contenu des événements est sous format JSON, il faut le parser
            
                    if(document.querySelector('#chat').getElementsByTagName('div')){
                        lastMessage = document.querySelector('#chat').lastElementChild.getElementsByTagName('p')[0].innerHTML
                    }
                    else{
                        lastMessage = ""
                    }
                    if(lastMessage !== message.content)
                    {
                            document.querySelector('#chat').insertAdjacentHTML( // On injecte le nouveau message selon le HTML déjà présent plus haut dans notre fichier Twig
                            'beforeend',
                                appUser === message.author.id ?
                                `<div class="row w-75" style="float: left">
                                <b>${message.author.username}</b>
                                <p class="alert alert-info w-100">${message.content}</p>
                            </div>` :
                                `<div class="row w-75 " style="float: right">
                                <b>${message.author.username}</b>
                                <p class="alert alert-success w-100">${message.content}</p>
                            </div>`
                        )
                    
                        chatDiv.scrollTop = chatDiv.scrollHeight; // On demande au navigateur de scroller le chat tout en bas pour bien apercevoir le dernier message apparu
                    }
                }

                let chatDiv = document.querySelector('.overflow-auto');
                

                let form = document.getElementById('form');

                function handleForm(event) {
                    event.preventDefault();
                }

                form.addEventListener('submit', handleForm);

        
                const submit = document.getElementById('submit');

                function send() {
            
                    const message = document.getElementById('message');
                
                    const data = {
                        'content': message.value, 
                        'channel': {{ channel.id }} 
                    }

                    fetch("{{path('send')}}", { // On envoie avec un post nos datas sur le endpoint /message de notre application
                        method: 'POST',
                        body: JSON.stringify(data) // On envoie les data sous format JSON
                    }).then((response) => {
                        message.value = '';
                    });
                }

                submit.addEventListener('click', send);
            });
    </script>
{% endblock %}