{% extends 'base_front.html.twig' %} 
  
{% block title %}Home{% endblock %}  
  
{% block body %}  
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if channels %}  
                    <div class="articles card">
                        <div class="card-header d-flex align-items-center">
                            <h2 class="h3">Messages</h2>
                            <div class="badge badge-rounded bg-green">4 New       
                            </div>
                        </div>
                    
                    
                        {% for channel in channels %} 
                            <div class="card-body no-padding">
                                <div class="d-flex justify-content-between">
                                    <div class="item p-2 align-items-center">
                                        <div class="image">
                                            <a style="color:black" href="{{ path('user_profile', {'user': channel.getSender().getId() is not same as  app.user.id ? channel.getSender().getId(): channel.getReceiver().getId()}) }}">
                                                <img src="https://i.ibb.co/4FpNQRb/user2.png" alt="..." class="img-fluid rounded-circle">
                                            </a>
                                        </div>
                                        <div class="text">
                                            <a href="#">
                                                <a style="color:white" href="{{ path('user_profile', {'user': channel.getSender().getId() is not same as  app.user.id ? channel.getSender().getId(): channel.getReceiver().getId()}) }}">
                                                    <h3 class="h5"> {{channel.getSender().getId() is not same as  app.user.id ? channel.getSender().getUsername(): channel.getReceiver().getUsername()}}</h3> 
                                                    
                                                </a>
                                            
                                            </a>
                                            
                                        </div>
                                
                                    </div>
                                    <div class="item p-3 align-items-center">
                                        <div class="d-flex justify-content-between">
                                            <a  style="float: right" class="btn btn-light p-2" href="{{ path('chat', {id: channel.id}) }}">Chatter</a>
                                            <a style="float: right" class="btn btn-light p-2" href="{{ path('deleteChannel', {channel: channel.id}) }}">X</a>      
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        {% endfor %} 
                    </div>
                {% else %}
                    <div>
                        <div class="alert alert-danger text-center">Aucun message</div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>  
{% endblock %}