{% extends 'base_front.html.twig' %}

{% block body %}

<title>Profil utilisateur</title>

<style>
    .wish-cover-game{
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        background-position: 50% 36%;
        position: relative;
    }

    .wish-cover-game::after {
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        background-position: 50% 36%;

        content: "";
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    .own-cover-game{
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        background-position: 50% 36%;
        position: relative;
    }

    .own-cover-game::after{
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        background-position: 50% 36%;

        content: "";
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
</style>

<div class="container" style="display: flex; margin-top: 25px;">
    <div class="left-container">
        <div class="profile-card">
            <div class="pic-wrapper">
                <img style="width: 90px;" src="https://i.ibb.co/4FpNQRb/user2.png"></img>
            </div>
            <div style="text-align: center; margin-top: 30px;">
                <p class="profile-text">{{ user.username|capitalize }}<p>
            </div>
            <div style="text-align: center; margin-top: 30px;">
                <p class="localisation-text">Evaluations<p>
                <p class="localisation-text">{{ totalRatings }}<p>
                <p class="localisation-text">Moyenne des évaluations<p>
                <p class="localisation-text">{{ averageRate|round(1) }} / 5<p>
            </div>
        </div>
        {% if app.user.id is not same as user.getId() %}
            <div class="btn-wrapper">
                <a style="color:white" href="{{ path('createChannel', {'receiver':user.id}) }}" class="btn btn-info">message</a>
            </div>
        {% endif %}
        <div class="swap-number">
            <p class="swap-text">{{numberExchanges}}</p>
            <img style="width: 35px; margin-bottom: 12px; margin-left: 10px;" src="{{ asset('build/swap.png') }}"/>
        </div>
    </div>
    <div class="right-container">
        <div class="games-owned-list scroll-hidden" id="style-1">
            <div class="title-game-wrapper font-style blue">
                <div class="text-wrap" style="display: flex;">Jeux possédés
                    {% if app.user.id is same as user.getId() %}
                        <a class="add-own" href="{{path('userowngameslists')}}">
                            <p class="font-style blue">
                                <img class="add-own-img" src="{{ asset('build/add.svg') }}" width="25" height="auto"/>
                            </p>   
                        </a>
                    {% endif %}
                </div>
                <div class="vector-wrap">
                    <img style="width: 60px;" src="https://i.ibb.co/QPnXBTj/check.png"></img>
                </div>
            </div>
            <div style="display: flex;">
                {% for ownGame in ownGames %}
                <div class="area-box-container" style="margin-left: 20px; display: flex;flex-wrap: wrap;justify-content: center;">
                    <div class="col-md-auto">
                        {% if app.user.id is same as user.getId() %}
                            <a class="trash" href="{{ path('quickdeleteowngame', {'game': ownGame.getId}) }}"><img style="width: 15px;" src="{{ asset('build/delete.svg') }}"/></img></a>
                        {% endif %}
                        <a style="background-image: url('//images.igdb.com/igdb/image/upload/t_cover_big/{{ igdb.getGameCovers(ownGame.id) }}.jpg');" class="element-list-owned own-cover-game" href="{{ path('show', {'id': ownGame.id}) }}"></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="games-wish-list scroll-hidden" id="style-1">
            <div class="title-game-wrapper">
                <div class="text-wrap font-style blue" style="display: flex;">
                    Jeux souhaités
                    {% if app.user.id is same as user.getId() %}
                        <a class="add-own" href="{{path('userwishgameslists')}}">
                            <p class="font-style orange">
                                <img class="add-wish-img" src="{{ asset('build/add-orange.svg') }}" width="25" height="auto"/>
                            </p>
                        </a>
                    {% endif %}
                </div>
                <div class="vector-wrap">
                    <img style="width: 60px;" src="https://i.ibb.co/Zxv6Jhd/favorite.png"></img>
                </div>
            </div>
            <div style="display: flex;">
                {% for wishGame in wishGames %}
                <div class="area-box-container" style="margin-left: 20px; display: flex;flex-wrap: wrap;justify-content: center;">
                    <div class="col-md-auto">
                        {% if app.user.id is same as user.getId() %}
                            <a class="trash" href="{{ path('quickdeletewishgame', {'game': wishGame.getId}) }}"><img style="width: 15px;" src="{{ asset('build/delete.svg') }}"/></img></a>
                        {% endif %}
                        <a style="background-image: url('//images.igdb.com/igdb/image/upload/t_cover_big/{{ igdb.getGameCovers(wishGame.id) }}.jpg');" class="element-list-owned own-cover-game" href="{{ path('show', {'id': wishGame.id}) }}"></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% if app.user.id is same as user.getId() %}
    <div class="text-wrap-title">
        <p class="font-style">Demande de swap en attente</p>
    </div>
    {% if user.getExchanges|length == 0 %}
    <h5 class="text-wrap no-swap">Vous n'avez aucune demande de Swap actuellement</h3>
    {% endif %}
    <div class="container waiting-exchange-container">
    {% for waitingExchange in waitingExchanges %}
        <div class="box-waitingExchange">
            <div class="box-waitingExchange padding-exchange">
                <div class="card-waiting-exchange" style="background-color: #FFD7C5;">
                    <img class="card-img-top" src="//images.igdb.com/igdb/image/upload/t_cover_big/{{ igdb.getGameCovers(waitingExchange.ownerGame.getId) }}.jpg" alt="Card image cap">
                    <div class="card-body d-flex flex-nowrap">
                        <div class="card-text d-flex flex-wrap">
                            <h5 style="width: 100%;">Mon jeu</h5>
                            {# <h6 style="width: 100%;">{{igdb.getGenres(waitingExchange.ownerGame.getId)}}</h6> #}
                        </div>
                    </div>
                </div>
                <div class="col-sm d-flex justify-content-center">
                    <div class="swap-arrow"><img style="width: 50px; margin-bottom: 12px; margin-left: 10px;" src="{{ asset('build/swap.png') }}"/></div>
                </div>
                <div class="card-waiting-exchange" style="background-color: #FFD7C5;">
                    <img class="card-img-top" src="//images.igdb.com/igdb/image/upload/t_cover_big/{{ igdb.getGameCovers(waitingExchange.game.getId) }}.jpg" alt="Card image cap">
                    <div class="card-body d-flex flex-nowrap">
                        <div class="card-text d-flex flex-wrap">
                            <h5 style="width: 100%;">Jeu de {{ waitingExchange.userProposer.getUsername|capitalize}}</h5>
                            {# <h6 style="width: 100%;">{{igdb.getGenres(waitingExchange.game.getId)}}</h6> #}
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-container-exchange">
                <div class="button-denied-exchange">
                    <a class="button btn-accept" href="{{  url('exchange_confirmed', {'exchange': waitingExchange.getId}) }}">Accepter</a>
                    <a class="button btn-refuse" href="{{  url('exchange_denied', {'exchange': waitingExchange.getId}) }}">Refuser</img></a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endif %}

{# <div class="row">
        <div class="col-sm">
            <div class="card" style="background-color: #FFD7C5;">
                <img class="card-img-top" src="//images.igdb.com/igdb/image/upload/t_cover_big/{{ igdb.getGameCovers(waitingExchange.ownerGame.getId) }}.jpg" alt="Card image cap">
                <div class="card-body d-flex flex-nowrap">
                    <div class="card-text d-flex flex-wrap">
                        <h5 style="width: 100%;">{{waitingExchange.ownerGame.getName}}</h5>
                        <h6 style="width: 100%;">{{igdb.getGenres(waitingExchange.ownerGame.getId)}}</h6>
                        <h7 style="width: 100%;">{{waitingExchange.ownerGame.getFirstReleaseDate|format_datetime('short', 'none', locale='fr')}}</h7>
                    </div>
                    <div class="card-text"><h4>PS5</h4></div>
                </div>
            </div>
            <div style="text-align: center; width: 100%;">
                <h4 style="margin: 10px;">Mon jeu</h4>
            </div>
        </div>

        <div class="col-sm d-flex justify-content-center">
            <div class="swap-arrow"><img style="width: 35px; margin-bottom: 12px; margin-left: 10px;" src="{{ asset('build/swap.png') }}"/></div>
        </div>

        <div class="col-sm">
            <div class="card" style="background-color: #FFD7C5;">
                <img class="card-img-top" src="//images.igdb.com/igdb/image/upload/t_cover_big/{{ igdb.getGameCovers(waitingExchange.game.getId) }}.jpg" alt="Card image cap">
                <div class="card-body d-flex flex-nowrap">
                    <div class="card-text d-flex flex-wrap">
                        <h5 style="width: 100%;">{{ waitingExchange.game.getName}}</h5>
                        <h6 style="width: 100%;">{{igdb.getGenres(waitingExchange.game.getId)}}</h6>
                        <h7 style="width: 100%;">{{ waitingExchange.game.getFirstReleaseDate|format_datetime('short', 'none', locale='fr') }}</h7>
                    </div>
                    <div class="card-text"><h4>PS5</h4></div>
                </div>
            </div>
            <div style="text-align: center; width: 100%;">
                <h4 style="margin: 10px;">Jeu de {{waitingExchange.UserProposer.getUsername|capitalize}}</h4>
            </div>
        </div>
    </div> #}

{% endblock %}