{% extends 'base_front.html.twig' %}

{% block body %}
{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}
<div class="content mt-5">
    <h1 style="color: #FF5D19; margin-bottom: 15px;">Jeux souhaités</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-see mt-4">Ajouter</button>
    {{ form_end(form) }}
    <div class="element-list-games">
        <div class="card-container">
            {% for userWishGame in userWishGames %}
            <div class="card card-border" style="width: 14.1rem;">
                <img style="width:224px; border-radius: 20px 20px 0px 0px" src="//images.igdb.com/igdb/image/upload/t_cover_big/{{ igdb.getGameCovers(userWishGame.getId) }}.jpg" class="card-img-top" alt="...">
                <div class="card-game-body">
                    <h5 style="text-align: center;" class="card-title title-orange">{{ userWishGame.getName|striptags|length > 20 ? userWishGame.getName|striptags|slice(0, 15) ~ '...' : userWishGame.getName}}</h5>
                    {# <p class="card-text text-secondary align-text">{{igdb.getGenres(userWishGame.getId)}}</p> #}
                    <div class="btn-wrapper">
                        <a style="" href="{{ path('show', {'id': userWishGame.id}) }}" class="button btn-see">Details</a>
                        <a style="" href="{{ path('quickdeletewishgamefromlist', {'game': userWishGame.getId}) }}" class="button btn-del"><img >Supprimer</img></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}