{% extends 'base_front.html.twig' %}

{% block body %}

<title>Merci !</title>

<div class="container" style="display: flex; margin-top: 25px; flex-wrap: wrap; justify-content: center;">
<div class="text-wrap-title">
    <p class="font-style-title">Merci pour votre retour !</p>
</div>

{% endblock %}
