{% extends 'base_front.html.twig' %}


{% block body %}

<div class="d-flex flex-column flex-shrink-0 p-3 bg-light amd-sidebar" style="width: 350px;">

    {# <h2 style="color:#FF5D19; margin-top: 15px;">Recherche par nom</h2>
    <form style="margin-top: 10px;" role="search" class="d-flex" method="GET" action="{{ path('search') }}">
        <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    </br> #}
    
    <div class="dispositif-filter-wrapper">
        <h2 style="color: #29647C; margin-top: 15px; font-size: 20px;">Recherche par genre</h2>
        <div class="dropdown-style-bar">
            <button style="border:none;" class="btn-dropdown"><img style="width: 30px;" src="{{ asset('build/down-arrow.png') }}"></button>
        </div>
        <div class="filter-wrapper">
            <div id="filter-dropdown1" class="filter-display-none">
                {{ include('front/games/components/searchFilter/_search_filter.html.twig') }}
            </div>
        </div>
    </div>

    <hr>
</div>

<div class="amd-main_content">
    <h1 style="color:#FF5D19; margin-top: 15px;">Résultats</h1>
        <div class="card-container">
            {% for game in games %}
                <div class="card-games" style="width: 14.1rem;">
                    <img style="width:224px; border-radius: 20px 20px 0px 0px" src="//images.igdb.com/igdb/image/upload/t_1080p/{{ igdb.getGameCovers(game.getId) }}.jpg" class="card-img-top" alt="...">
                    <div class="card-game-body">
                        <h5 style="text-align: center;" class="card-title title-orange">{{ game.getName|striptags|length > 20 ? game.getName|striptags|slice(0, 15) ~ '...' : game.getName}}</h5>
                        <p class="card-text text-secondary align-text"></p>
                        <div class="btn-wrapper">
                            <a style="width:14.1rem" class="button btn-details btn-details-games" href="{{ path('show', {'id': game.id}) }}" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination-render" style="margin-top: 35px; display: flex; justify-content: center; align-items: center;">
            {{ knp_pagination_render(games) }}
        </div>
</div>
{% endblock %}
