{% extends 'base_dashboard.html.twig' %}

{% block body %}<title>Swapit- Dashboard</title>
<style>
 
</style>

<div class="example-wrapper">
    <h1>Modifier l'utilisateur </h1>

    {{  form(userForm) }}
   
{% endblock %}
